<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net40" />
  <package id="DeviceStream" version="1.7.7129.14527" targetFramework="net472" />
  <package id="LaserApi" version="1.12.7129.14540" targetFramework="net472" />
  <package id="Renishaw.Calibration" version="1.31.7129.18432" targetFramework="net472" />
  <package id="Renishaw.Calibration.ServiceModel" version="1.6.7129.14526" targetFramework="net472" />
  <package id="Renishaw.IO" version="1.22.7129.18434" targetFramework="net472" />
  <package id="RenishawLaserService" version="1.15.7129.14540" targetFramework="net472" />
  <package id="RenishawWeatherStationService" version="1.9.7129.14540" targetFramework="net472" />
  <package id="UsbIo" version="1.5.0" targetFramework="net472" />
  <package id="UsbTmc" version="1.5.0" targetFramework="net472" />
  <package id="XLLaserSystem" version="1.17.7129.14540" targetFramework="net472" />
</packages>